.v {background-image: url('../images/type/無.png');}
.f {background-image: url('../images/type/火.png');}
.wa {background-image: url('../images/type/水.png');}
.wi {background-image: url('../images/type/風.png');}
.e {background-image: url('../images/type/土.png');}
.l {background-image: url('../images/type/光.png');}
.d {background-image: url('../images/type/闇.png');}
.fwawie {background-image: url('../images/type/火水風土.png');}
.dl {background-image: url('../images/type/闇光.png');}
.fl {background-image: url('../images/type/火光.png');}
.wad {background-image: url('../images/type/水闇.webp');}
.vd {background-image: url('../images/type/無闇.webp');}
.wie {background-image: url('../images/type/風土.webp');}
.in-fight {background-image: url('../images/type/近接.png');}
.out-range {background-image: url('../images/type/遠隔.png');}
.in-out {background-image: url('../images/type/遠近両用.png');}
