@import url("variable-unit.css");

.no_image {background-image: var(--no_image);}
.akuta_01 {background-image: var(--akuta_01);}
.minagi_01 {background-image: var(--minagi_01);}
.kuon_01 {background-image: var(--kuon_01);}
.uru_sara_01 {background-image: var(--uru_sara_01);}
.uruto_01 {background-image: var(--uruto_01);}
.bena_01 {background-image: var(--bena_01);}
.ukon_01 {background-image: var(--ukon_01);}
.ruruti_01 {background-image: var(--ruruti_01);}
.ougi_01 {background-image: var(--ougi_01);}
.yakuto_01 {background-image: var(--yakuto_01);}
.sisu_01 {background-image: var(--sisu_01);}
.eruru_01 {background-image: var(--eruru_01);}
.kurou_01 {background-image: var(--kurou_01);}
.burai_01 {background-image: var(--burai_01);}
.maroro_01 {background-image: var(--maroro_01);}
.kiuru_01 {background-image: var(--kiuru_01);}
.sitiri_01 {background-image: var(--sitiri_01);}
.tokihusa_01 {background-image: var(--tokihusa_01);}
.itaku_01 {background-image: var(--itaku_01);}
.teoro_01 {background-image: var(--teoro_01);}
.deriho_01 {background-image: var(--deriho_01);}
.nuwangi_01 {background-image: var(--nuwangi_01);}
.kamutya_01 {background-image: var(--kamutya_01);}
.suon_01 {background-image: var(--suon_01);}
.karura_01 {background-image: var(--karura_01);}
.emusiri_01 {background-image: var(--emusiri_01);}
.nosuri_01 {background-image: var(--nosuri_01);}
.kuuran_01 {background-image: var(--kuuran_01);}
.kokopo_01 {background-image: var(--kokopo_01);}
.kamyu_01 {background-image: var(--kamyu_01);}
.mutumi_01 {background-image: var(--mutumi_01);}
.nekone_01 {background-image: var(--nekone_01);}
.inui_01 {background-image: var(--inui_01);}
.touka_01 {background-image: var(--touka_01);}
.kuon_02 {background-image: var(--kuon_02);}
.aruru_01 {background-image: var(--aruru_01);}
.mikaduti_01 {background-image: var(--mikaduti_01);}
.oboro_01 {background-image: var(--oboro_01);}
.yuzuha_01 {background-image: var(--yuzuha_01);}
.anju_01 {background-image: var(--anju_01);}
.suzuri_01 {background-image: var(--suzuri_01);}
.munetika_01 {background-image: var(--munetika_01);}
.genji_01 {background-image: var(--genji_01);}
.mito_01 {background-image: var(--mito_01);}
.hien_01 {background-image: var(--hien_01);}
.atui_01 {background-image: var(--atui_01);}
.dori_gura_01 {background-image: var(--dori_gura_01);}
.humiriru_01 {background-image: var(--humiriru_01);}
.ruruti_02 {background-image: var(--ruruti_02);}
.yuran_01 {background-image: var(--yuran_01);}
.minagi_02 {background-image: var(--minagi_02);}
.eruru_02 {background-image: var(--eruru_02);}
.kiuru_02 {background-image: var(--kiuru_02);}
.nekone_02 {background-image: var(--nekone_02);}
.sisu_02 {background-image: var(--sisu_02);}
.akuta_02 {background-image: var(--akuta_02);}
.mozunu_01 {background-image: var(--mozunu_01);}
.uru_sara_02 {background-image: var(--uru_sara_02);}
.osyu_01 {background-image: var(--osyu_01);}
.d_01 {background-image: var(--d_01);}
.natori_01 {background-image: var(--natori_01);}
.unkei_01 {background-image: var(--unkei_01);}
.haku_01 {background-image: var(--haku_01);}
.aruru_02 {background-image: var(--aruru_02);}
.edi_01 {background-image: var(--edi_01);}
.rizueru_01 {background-image: var(--rizueru_01);}
.rine_01 {background-image: var(--rine_01);}
.kuuran_02 {background-image: var(--kuuran_02);}
.suzuri_02 {background-image: var(--suzuri_02);}
.anju_02 {background-image: var(--anju_02);}
.kuroma_01 {background-image: var(--kuroma_01);}
.yunisia_01 {background-image: var(--yunisia_01);}
.karura_02 {background-image: var(--karura_02);}
.ougi_02 {background-image: var(--ougi_02);}
.mahomi_01 {background-image: var(--mahomi_01);}
.yuzuha_02 {background-image: var(--yuzuha_02);}
.yuzuha_03 {background-image: var(--yuzuha_03);}
.diko_01 {background-image: var(--diko_01);}
.kariti_01 {background-image: var(--kariti_01);}
.tusukuru_01 {background-image: var(--tusukuru_01);}
.koto_tuta_01 {background-image: var(--koto_tuta_01);}
.nosuri_02 {background-image: var(--nosuri_02);}
.sanatita_01 {background-image: var(--sanatita_01);}
.maturi_01 {background-image: var(--maturi_01);}
.kuon_03 {background-image: var(--kuon_03);}
.mito_02 {background-image: var(--mito_02);}
.nekone_03 {background-image: var(--nekone_03);}
.sayori_01 {background-image: var(--sayori_01);}
.inui_02 {background-image: var(--inui_02);}
.amate_01 {background-image: var(--amate_01);}
.magune_01 {background-image: var(--magune_01);}
.hugito_01 {background-image: var(--hugito_01);}
.munetika_02 {background-image: var(--munetika_02);}
.touka_02 {background-image: var(--touka_02);}
.ruuna_01 {background-image: var(--ruuna_01);}
.rinne_01 {background-image: var(--rinne_01);}
.juuni_01 {background-image: var(--juuni_01);}
.hakuoro_01 {background-image: var(--hakuoro_01);}
.azueru_01 {background-image: var(--azueru_01);}
.kuroma_02 {background-image: var(--kuroma_02);}
.yumyu_01 {background-image: var(--yumyu_01);}
.minagi_03 {background-image: var(--minagi_03);}
.uru_karu_01 {background-image: var(--uru_karu_01);}
.asura_01 {background-image: var(--asura_01);}
.memuru_01 {background-image: var(--memuru_01);}
.suzuri_03 {background-image: var(--suzuri_03);}
.atui_02 {background-image: var(--atui_02);}
.sirayuki_01 {background-image: var(--sirayuki_01);}
.aizen_01 {background-image: var(--aizen_01);}
.gokou_01 {background-image: var(--gokou_01);}
.kuryu_01 {background-image: var(--kuryu_01);}
.kariti_02 {background-image: var(--kariti_02);}
.mahomi_02 {background-image: var(--mahomi_02);}
.sakuya_01 {background-image: var(--sakuya_01);}
.kuya_01 {background-image: var(--kuya_01);}
.haku_02 {background-image: var(--haku_02);}
.kujaku_01 {background-image: var(--kujaku_01);}
.ruruti_03 {background-image: var(--ruruti_03);}
.keto_01 {background-image: var(--keto_01);}
.aruru_03 {background-image: var(--aruru_03);}
.maturi_02 {background-image: var(--maturi_02);}
.juuni_02 {background-image: var(--juuni_02);}
.anju_03 {background-image: var(--anju_03);}
.munetika_03 {background-image: var(--munetika_03);}
.uru_sara_03 {background-image: var(--uru_sara_03);}
.amate_02 {background-image: var(--amate_02);}
.tukuyomi_01 {background-image: var(--tukuyomi_01);}
.osyu_02 {background-image: var(--osyu_02);}
.munetika_04 {background-image: var(--munetika_04);}
.mikaduti_02 {background-image: var(--mikaduti_02);}
.syunya_01 {background-image: var(--syunya_01);}
.raikou_01 {background-image: var(--raikou_01);}
.honoka_01 {background-image: var(--honoka_01);}
.yukaura_01 {background-image: var(--yukaura_01);}
.sanatita_02 {background-image: var(--sanatita_02);}
.kamyu_02 {background-image: var(--kamyu_02);}
.masiro_01 {background-image: var(--masiro_01);}
.sirayuki_02 {background-image: var(--sirayuki_02);}
.woto_01 {background-image: var(--woto_01);}
.rans_01 {background-image: var(--rans_01);}
.natori_02 {background-image: var(--natori_02);}
.magune_02 {background-image: var(--magune_02);}
.neon_01 {background-image: var(--neon_01);}
.kotama_01 {background-image: var(--kotama_01);}
.yunisia_02 {background-image: var(--yunisia_02);}
.buri_01 {background-image: var(--buri_01);}
.masamune_01 {background-image: var(--masamune_01);}
.eruru_03 {background-image: var(--eruru_03);}
.sinonon_01 {background-image: var(--sinonon_01);}
.syukure_01 {background-image: var(--syukure_01);}
.kemoruru_01 {background-image: var(--kemoruru_01);}
.akuta_03 {background-image: var(--akuta_03);}
.alte_01 {background-image: var(--alte_01);}
.ienaga_01 {background-image: var(--ienaga_01);}
.yuzuha_04 {background-image: var(--yuzuha_04);}
.zakuro_01 {background-image: var(--zakuro_01);}
.emusiri_02 {background-image: var(--emusiri_02);}
.syunya_02 {background-image: var(--syunya_02);}
.yumyu_02 {background-image: var(--yumyu_02);}
.humiriru_02 {background-image: var(--humiriru_02);}
.kinema_01 {background-image: var(--kinema_01);}
.unkei_02 {background-image: var(--unkei_02);}
.rikana_01 {background-image: var(--rikana_01);}
.hozuki_01 {background-image: var(--hozuki_01);}
.rimuri_01 {background-image: var(--rimuri_01);}
.himika_01 {background-image: var(--himika_01);}
.kuon_04 {background-image: var(--kuon_04);}
.arie_01 {background-image: var(--arie_01);}
.hakuoro_02 {background-image: var(--hakuoro_02);}
.kuryu_02 {background-image: var(--kuryu_02);}
.tukuyomi_02 {background-image: var(--tukuyomi_02);}
.niraika_01 {background-image: var(--niraika_01);}
.yuzuha_05 {background-image: var(--yuzuha_05);}
.maturi_03 {background-image: var(--maturi_03);}
.inaduma_01 {background-image: var(--inaduma_01);}
.kazusa_01 {background-image: var(--kazusa_01);}
.setuna_01 {background-image: var(--setuna_01);}
.minagi_04 {background-image: var(--minagi_04);}
.honoka_02 {background-image: var(--honoka_02);}
.aizen_02 {background-image: var(--aizen_02);}
.yutara_01 {background-image: var(--yutara_01);}
.anju_04 {background-image: var(--anju_04);}
.kiuru_03 {background-image: var(--kiuru_03);}
.tise_01 {background-image: var(--tise_01);}
.whosisu_01 {background-image: var(--whosisu_01);}
.ruruti_04 {background-image: var(--ruruti_04);}
.haku_03 {background-image: var(--haku_03);}
.neon_02 {background-image: var(--neon_02);}
.raiden_01 {background-image: var(--raiden_01);}
.woto_02 {background-image: var(--woto_02);}
.uruto_02 {background-image: var(--uruto_02);}
.koto_tuta_02 {background-image: var(--koto_tuta_02);}
.konomi_01 {background-image: var(--konomi_01);}
.tamaki_01 {background-image: var(--tamaki_01);}
.sasara_01 {background-image: var(--sasara_01);}
.kuya_02 {background-image: var(--kuya_02);}
.mutumi_02 {background-image: var(--mutumi_02);}
.kinema_02 {background-image: var(--kinema_02);}
.mahomi_03 {background-image: var(--mahomi_03);}
.kotama_02 {background-image: var(--kotama_02);}
.diko_02 {background-image: var(--diko_02);}
.karukino_01 {background-image: var(--karukino_01);}
.eruru_04 {background-image: var(--eruru_04);}
.mikoto_01 {background-image: var(--mikoto_01);}
