.no_image {background-image: url('../images/no_image.jpg');}
.akuta_01 {background-image: url('../images/unit/akuta_01.jpg');}
.minagi_01 {background-image: url('../images/unit/minagi_01.jpg');}
.kuon_01 {background-image: url('../images/unit/kuon_01.jpg');}
.uru_sara_01 {background-image: url('../images/unit/uru_sara_01.jpg');}
.uruto_01 {background-image: url('../images/unit/uruto_01.jpg');}
.bena_01 {background-image: url('../images/unit/bena_01.jpg');}
.ukon_01 {background-image: url('../images/unit/ukon_01.jpg');}
.ruruti_01 {background-image: url('../images/unit/ruruti_01.jpg');}
.ougi_01 {background-image: url('../images/unit/ougi_01.jpg');}
.yakuto_01 {background-image: url('../images/unit/yakuto_01.jpg');}
.sisu_01 {background-image: url('../images/unit/sisu_01.jpg');}
.eruru_01 {background-image: url('../images/unit/eruru_01.jpg');}
.kurou_01 {background-image: url('../images/unit/kurou_01.jpg');}
.burai_01 {background-image: url('../images/unit/burai_01.jpg');}
.maroro_01 {background-image: url('../images/unit/maroro_01.jpg');}
.kiuru_01 {background-image: url('../images/unit/kiuru_01.jpg');}
.sitiri_01 {background-image: url('../images/unit/sitiri_01.jpg');}
.tokihusa_01 {background-image: url('../images/unit/tokihusa_01.jpg');}
.itaku_01 {background-image: url('../images/unit/itaku_01.jpg');}
.teoro_01 {background-image: url('../images/unit/teoro_01.jpg');}
.deriho_01 {background-image: url('../images/unit/deriho_01.jpg');}
.nuwangi_01 {background-image: url('../images/unit/nuwangi_01.jpg');}
.kamutya_01 {background-image: url('../images/unit/kamutya_01.jpg');}
.suon_01 {background-image: url('../images/unit/suon_01.jpg');}
.karura_01 {background-image: url('../images/unit/karura_01.jpg');}
.emusiri_01 {background-image: url('../images/unit/emusiri_01.jpg');}
.nosuri_01 {background-image: url('../images/unit/nosuri_01.jpg');}
.kuuran_01 {background-image: url('../images/unit/kuuran_01.jpg');}
.kokopo_01 {background-image: url('../images/unit/kokopo_01.jpg');}
.kamyu_01 {background-image: url('../images/unit/kamyu_01.jpg');}
.mutumi_01 {background-image: url('../images/unit/mutumi_01.jpg');}
.nekone_01 {background-image: url('../images/unit/nekone_01.jpg');}
.inui_01 {background-image: url('../images/unit/inui_01.jpg');}
.touka_01 {background-image: url('../images/unit/touka_01.jpg');}
.kuon_02 {background-image: url('../images/unit/kuon_02.jpg');}
.aruru_01 {background-image: url('../images/unit/aruru_01.jpg');}
.mikaduti_01 {background-image: url('../images/unit/mikaduti_01.jpg');}
.oboro_01 {background-image: url('../images/unit/oboro_01.jpg');}
.yuzuha_01 {background-image: url('../images/unit/yuzuha_01.jpg');}
.anju_01 {background-image: url('../images/unit/anju_01.jpg');}
.suzuri_01 {background-image: url('../images/unit/suzuri_01.jpg');}
.munetika_01 {background-image: url('../images/unit/munetika_01.jpg');}
.genji_01 {background-image: url('../images/unit/genji_01.jpg');}
.mito_01 {background-image: url('../images/unit/mito_01.jpg');}
.hien_01 {background-image: url('../images/unit/hien_01.jpg');}
.atui_01 {background-image: url('../images/unit/atui_01.jpg');}
.dori_gura_01 {background-image: url('../images/unit/dori_gura_01.jpg');}
.humiriru_01 {background-image: url('../images/unit/humiriru_01.jpg');}
.ruruti_02 {background-image: url('../images/unit/ruruti_02.jpg');}
.yuran_01 {background-image: url('../images/unit/yuran_01.jpg');}
.minagi_02 {background-image: url('../images/unit/minagi_02.jpg');}
.eruru_02 {background-image: url('../images/unit/eruru_02.jpg');}
.kiuru_02 {background-image: url('../images/unit/kiuru_02.jpg');}
.nekone_02 {background-image: url('../images/unit/nekone_02.jpg');}
.sisu_02 {background-image: url('../images/unit/sisu_02.jpg');}
.akuta_02 {background-image: url('../images/unit/akuta_02.jpg');}
.mozunu_01 {background-image: url('../images/unit/mozunu_01.jpg');}
.uru_sara_02 {background-image: url('../images/unit/uru_sara_02.jpg');}
.osyu_01 {background-image: url('../images/unit/osyu_01.jpg');}
.d_01 {background-image: url('../images/unit/d_01.jpg');}
.natori_01 {background-image: url('../images/unit/natori_01.jpg');}
.unkei_01 {background-image: url('../images/unit/unkei_01.jpg');}
.haku_01 {background-image: url('../images/unit/haku_01.jpg');}
.aruru_02 {background-image: url('../images/unit/aruru_02.jpg');}
.edi_01 {background-image: url('../images/unit/edi_01.jpg');}
.rizueru_01 {background-image: url('../images/unit/rizueru_01.jpg');}
.rine_01 {background-image: url('../images/unit/rine_01.jpg');}
.kuuran_02 {background-image: url('../images/unit/kuuran_02.jpg');}
.suzuri_02 {background-image: url('../images/unit/suzuri_02.jpg');}
.anju_02 {background-image: url('../images/unit/anju_02.jpg');}
.kuroma_01 {background-image: url('../images/unit/kuroma_01.jpg');}
.yunisia_01 {background-image: url('../images/unit/yunisia_01.jpg');}
.karura_02 {background-image: url('../images/unit/karura_02.jpg');}
.ougi_02 {background-image: url('../images/unit/ougi_02.jpg');}
.mahomi_01 {background-image: url('../images/unit/mahomi_01.jpg');}
.yuzuha_02 {background-image: url('../images/unit/yuzuha_02.jpg');}
.yuzuha_03 {background-image: url('../images/unit/yuzuha_03.jpg');}
.diko_01 {background-image: url('../images/unit/diko_01.jpg');}
.kariti_01 {background-image: url('../images/unit/kariti_01.jpg');}
.tusukuru_01 {background-image: url('../images/unit/tusukuru_01.jpg');}
.koto_tuta_01 {background-image: url('../images/unit/koto_tuta_01.jpg');}
.nosuri_02 {background-image: url('../images/unit/nosuri_02.jpg');}
.sanatita_01 {background-image: url('../images/unit/sanatita_01.jpg');}
.maturi_01 {background-image: url('../images/unit/maturi_01.jpg');}
.kuon_03 {background-image: url('../images/unit/kuon_03.jpg');}
.mito_02 {background-image: url('../images/unit/mito_02.jpg');}
.nekone_03 {background-image: url('../images/unit/nekone_03.png');}
.sayori_01 {background-image: url('../images/unit/sayori_01.jpg');}
.inui_02 {background-image: url('../images/unit/inui_02.jpg');}
.amate_01 {background-image: url('../images/unit/amate_01.jpg');}
.magune_01 {background-image: url('../images/unit/magune_01.jpg');}
.hugito_01 {background-image: url('../images/unit/hugito_01.jpg');}
.munetika_02 {background-image: url('../images/unit/munetika_02.jpg');}
.touka_02 {background-image: url('../images/unit/touka_02.jpg');}
.ruuna_01 {background-image: url('../images/unit/ruuna_01.jpg');}
.rinne_01 {background-image: url('../images/unit/rinne_01.png');}
.juuni_01 {background-image: url('../images/unit/juuni_01.jpg');}
.hakuoro_01 {background-image: url('../images/unit/hakuoro_01.jpg');}
.azueru_01 {background-image: url('../images/unit/azueru_01.jpg');}
.kuroma_02 {background-image: url('../images/unit/kuroma_02.jpg');}
.yumyu_01 {background-image: url('../images/unit/yumyu_01.jpg');}
.minagi_03 {background-image: url('../images/unit/minagi_03.jpg');}
.uru_karu_01 {background-image: url('../images/unit/uru_karu_01.jpg');}
.asura_01 {background-image: url('../images/unit/asura_01.jpg');}
.memuru_01 {background-image: url('../images/unit/memuru_01.jpg');}
.suzuri_03 {background-image: url('../images/unit/suzuri_03.jpg');}
.atui_02 {background-image: url('../images/unit/atui_02.jpg');}
.sirayuki_01 {background-image: url('../images/unit/sirayuki_01.jpg');}
.aizen_01 {background-image: url('../images/unit/aizen_01.jpg');}
.gokou_01 {background-image: url('../images/unit/gokou_01.jpg');}
.kuryu_01 {background-image: url('../images/unit/kuryu_01.jpg');}
.kariti_02 {background-image: url('../images/unit/kariti_02.jpg');}
.mahomi_02 {background-image: url('../images/unit/mahomi_02.jpg');}
.sakuya_01 {background-image: url('../images/unit/sakuya_01.jpg');}
.kuya_01 {background-image: url('../images/unit/kuya_01.jpg');}
.haku_02 {background-image: url('../images/unit/haku_02.jpg');}
.kujaku_01 {background-image: url('../images/unit/kujaku_01.jpg');}
.ruruti_03 {background-image: url('../images/unit/ruruti_03.jpg');}
.keto_01 {background-image: url('../images/unit/keto_01.webp');}
.aruru_03 {background-image: url('../images/unit/aruru_03.webp');}
.maturi_02 {background-image: url('../images/unit/maturi_02.webp');}
.juuni_02 {background-image: url('../images/unit/juuni_02.webp');}
.anju_03 {background-image: url('../images/unit/anju_03.webp');}
.munetika_03 {background-image: url('../images/unit/munetika_03.webp');}
.uru_sara_03 {background-image: url('../images/unit/uru_sara_03.webp');}
.amate_02 {background-image: url('../images/unit/amate_02.webp');}
.tukuyomi_01 {background-image: url('../images/unit/tukuyomi_01.webp');}
.osyu_02 {background-image: url('../images/unit/osyu_02.webp');}
.munetika_04 {background-image: url('../images/unit/munetika_04.webp');}
.mikaduti_02 {background-image: url('../images/unit/mikaduti_02.png');}
.syunya_01 {background-image: url('../images/unit/syunya_01.webp');}
.raikou_01 {background-image: url('../images/unit/raikou_01.webp');}
.honoka_01 {background-image: url('../images/unit/honoka_01.webp');}
.yukaura_01 {background-image: url('../images/unit/yukaura_01.webp');}
.sanatita_02 {background-image: url('../images/unit/sanatita_02.webp');}
.kamyu_02 {background-image: url('../images/unit/kamyu_02.webp');}
.masiro_01 {background-image: url('../images/unit/masiro_01.webp');}
.sirayuki_02 {background-image: url('../images/unit/sirayuki_02.webp');}
.woto_01 {background-image: url('../images/unit/woto_01.webp');}
.rans_01 {background-image: url('../images/unit/rans_01.webp');}
.natori_02 {background-image: url('../images/unit/natori_02.webp');}
.magune_02 {background-image: url('../images/unit/magune_02.webp');}
.neon_01 {background-image: url('../images/unit/neon_01.webp');}
.kotama_01 {background-image: url('../images/unit/kotama_01.webp');}
.yunisia_02 {background-image: url('../images/unit/yunisia_02.webp');}
.buri_01 {background-image: url('../images/unit/buri_01.webp');}
.masamune_01 {background-image: url('../images/unit/masamune_01.webp');}
.eruru_03 {background-image: url('../images/unit/eruru_03.webp');}
.sinonon_01 {background-image: url('../images/unit/sinonon_01.webp');}
.syukure_01 {background-image: url('../images/unit/syukure_01.webp');}
.kemoruru_01 {background-image: url('../images/unit/kemoruru_01.webp');}
.akuta_03 {background-image: url('../images/unit/akuta_03.webp');}
.alte_01 {background-image: url('../images/unit/alte_01.webp');}
.ienaga_01 {background-image: url('../images/unit/ienaga_01.webp');}
.yuzuha_04 {background-image: url('../images/unit/yuzuha_04.webp');}
.zakuro_01 {background-image: url('../images/unit/zakuro_01.webp');}
.emusiri_02 {background-image: url('../images/unit/emusiri_02.webp');}
.syunya_02 {background-image: url('../images/unit/syunya_02.webp');}
.yumyu_02 {background-image: url('../images/unit/yumyu_02.webp');}
.humiriru_02 {background-image: url('../images/unit/humiriru_02.webp');}
.kinema_01 {background-image: url('../images/unit/kinema_01.webp');}
.unkei_02 {background-image: url('../images/unit/unkei_02.webp');}
.rikana_01 {background-image: url('../images/unit/rikana_01.webp');}
.hozuki_01 {background-image: url('../images/unit/hozuki_01.webp');}
.rimuri_01 {background-image: url('../images/unit/rimuri_01.webp');}
.himika_01 {background-image: url('../images/unit/himika_01.webp');}
.kuon_04 {background-image: url('../images/unit/kuon_04.webp');}
.arie_01 {background-image: url('../images/unit/arie_01.webp');}
.hakuoro_02 {background-image: url('../images/unit/hakuoro_02.webp');}
.kuryu_02 {background-image: url('../images/unit/kuryu_02.webp');}
.tukuyomi_02 {background-image: url('../images/unit/tukuyomi_02.webp');}
.niraika_01 {background-image: url('../images/unit/niraika_01.webp');}
.yuzuha_05 {background-image: url('../images/unit/yuzuha_05.webp');}
.maturi_03 {background-image: url('../images/unit/maturi_03.webp');}
.inaduma_01 {background-image: url('../images/unit/inaduma_01.webp');}
.kazusa_01 {background-image: url('../images/unit/kazusa_01.webp');}
.setuna_01 {background-image: url('../images/unit/setuna_01.webp');}
.minagi_04 {background-image: url('../images/unit/minagi_04.webp');}
.honoka_02 {background-image: url('../images/unit/honoka_02.webp');}
.aizen_02 {background-image: url('../images/unit/aizen_02.webp');}
.yutara_01 {background-image: url('../images/unit/yutara_01.webp');}
.anju_04 {background-image: url('../images/unit/anju_04.webp');}
.kiuru_03 {background-image: url('../images/unit/kiuru_03.webp');}
.tise_01 {background-image: url('../images/unit/tise_01.webp');}
.whosisu_01 {background-image: url('../images/unit/whosisu_01.webp');}
.ruruti_04 {background-image: url('../images/unit/ruruti_04.webp');}
.haku_03 {background-image: url('../images/unit/haku_03.webp');}
.neon_02 {background-image: url('../images/unit/neon_02.webp');}
.raiden_01 {background-image: url('../images/unit/raiden_01.webp');}
.woto_02 {background-image: url('../images/unit/woto_02.webp');}
.uruto_02 {background-image: url('../images/unit/uruto_02.webp');}
.koto_tuta_02 {background-image: url('../images/unit/koto_tuta_02.webp');}
.konomi_01 {background-image: url('../images/unit/konomi_01.webp');}
.tamaki_01 {background-image: url('../images/unit/tamaki_01.webp');}
.sasara_01 {background-image: url('../images/unit/sasara_01.webp');}
.kuya_02 {background-image: url('../images/unit/kuya_02.webp');}
.mutumi_02 {background-image: url('../images/unit/mutumi_02.webp');}
.kinema_02 {background-image: url('../images/unit/kinema_02.webp');}
.mahomi_03 {background-image: url('../images/unit/mahomi_03.webp');}
.kotama_02 {background-image: url('../images/unit/kotama_02.webp');}
.diko_02 {background-image: url('../images/unit/diko_02.webp');}
.karukino_01 {background-image: url('../images/unit/karukino_01.webp');}
.eruru_04 {background-image: url('../images/unit/eruru_04.webp');}
.mikoto_01 {background-image: url('../images/unit/mikoto_01.webp');}
.juuni_03 {background-image: url('../images/unit/juuni_03.webp');}
.deidara_01 {background-image: url('../images/unit/deidara_01.webp');}
.sakuya_02 {background-image: url('../images/unit/sakuya_02.webp');}
.amate_03 {background-image: url('../images/unit/amate_03.webp');}
.natori_03 {background-image: url('../images/unit/natori_03.webp');}
.bena_02 {background-image: url('../images/unit/bena_02.webp');}
.kurou_02 {background-image: url('../images/unit/kurou_02.webp');}
.kuuran_03 {background-image: url('../images/unit/kuuran_03.webp');}
.suzuri_04 {background-image: url('../images/unit/suzuri_04.webp');}
.guren_01 {background-image: url('../images/unit/guren_01.webp');}
.sanatita_03 {background-image: url('../images/unit/sanatita_03.webp');}
.d_02 {background-image: url('../images/unit/d_02.webp');}
.minagi_05 {background-image: url('../images/unit/minagi_05.webp');}
.nekone_04 {background-image: url('../images/unit/nekone_04.webp');}
.uiera_01 {background-image: url('../images/unit/uiera_01.webp');}
.renka_01 {background-image: url('../images/unit/renka_01.webp');}
.yukaura_02 {background-image: url('../images/unit/yukaura_02.webp');}
.magune_03 {background-image: url('../images/unit/magune_03.webp');}
.amatu_01 {background-image: url('../images/unit/amatu_01.webp');}
.hozuki_02 {background-image: url('../images/unit/hozuki_02.webp');}
.niraika_02 {background-image: url('../images/unit/niraika_02.webp');}
.syukure_02 {background-image: url('../images/unit/syukure_02.webp');}
.akari_01 {background-image: url('../images/unit/akari_01.webp');}
.maruti_01 {background-image: url('../images/unit/maruti_01.webp');}
.kamyu_03 {background-image: url('../images/unit/kamyu_03.webp');}
.yunisia_03 {background-image: url('../images/unit/yunisia_03.webp');}

